body{
    overflow-x: hidden;
    margin: 0px;
    padding: 0px; 
}

.vertical-align{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.text-center{
    margin: 0 auto;
    text-align: center!important;
}

.background-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.white-font{
    color: white;
}


@media only screen and (max-width: 768px){
    .hidden-xs {
        display: none!important;
    }
}
@media only screen and (min-width: 769px){
    .hidden-md {
        display: none!important;
    }
}